// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
// $font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//定義した方が楽なやつ
$border: rgb(199, 199, 199);

// バックカラー
$image_color: rgb(247, 240, 184);
$user_back: white;
$admin_back: rgb(66, 66, 66);

// 評価カラー
$happy: rgb(236, 126, 126);
$excited: rgb(255, 196, 118);
$funny: rgb(199, 235, 101);
$sad: rgb(114, 202, 236);
$disgusted: rgb(173, 144, 221);
$scary: rgb(107, 107, 107);
