@import "variables";

.top-container {
    background-image: url("https://eemovies.s3-ap-northeast-1.amazonaws.com/about/emotion.jpeg");
    background-size: cover;
    width: auto;
    height: 770px;
    margin: 0 auto;

    .top-wrapper {
        width: 60%;
        margin: 0 auto;

        .top-content {
            padding-left: 300px;
            padding-top: 300px;

            .comment {
                color: rgb(34, 34, 34);
                font-size: 1.8rem;
                border-left: solid 2px rgb(207, 0, 0);
                padding-left: 20px;
                margin-bottom: 50px;
            }

            span {
                font-size: 2.2rem;
            }

            .logo-image {
                height: 5rem;
                width: 5rem;
            }
        }
    }
}

.middle-container {
    height: 400px;

    .middle-wrapper {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        margin-top: 100px;
        h2 {
            font-size: 2rem;
            color: #fff;
            background-color: rgb(63, 63, 63);
            padding: 10px 0;
            width: 550px;
            margin: 0 auto;
            text-align: center;
            box-shadow: 0 0 8px gray;
        }
    }

    .middle-left-content {
        display: inline-block;
        height: 300px;
        width: 500px;
        margin-top: 60px;
        h3 {
            color: rgb(22, 22, 22);
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
            color: rgb(22, 22, 22);
            margin-top: 40px;
        }
    }

    .middle-right-content {
        display: inline-block;
        height: 300px;
        width: 560px;
        margin-top: 60px;
        margin-left: 50px;
        .emotional-box {
            margin-top: 60px;

            i {
                font-size: 4rem;
            }

            .far.fa-smile-beam {
                color: $happy;
            }

            .far.fa-grin-squint {
                color: $excited;
            }

            .far.fa-grin-squint-tears {
                color: $funny;
            }

            .far.fa-sad-tear {
                color: $sad;
            }

            .far.fa-angry {
                color: $disgusted;
            }

            .far.fa-flushed {
                color: $scary;
            }

            .emotional {
                margin: 20 0px;
            }

            .level {
                font-size: 30px;
                margin: 15px;
            }
        }
    }
}

.bottom-container {
    background-color: rgb(255, 255, 255);
    height: 500px;

    .bottom-wrapper {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        margin-top: 100px;
        h2 {
            text-align: center;
            font-size: 2rem;
            padding-bottom: 10px;
            color: #fff;
            background-color: rgb(63, 63, 63);
            margin: 0 auto;
            width: 550px;
            padding: 10px 0;
            box-shadow: 0 0 8px gray;
        }
    }

    .bottom-content {
        text-align: center;
        p {
            font-size: 1.2rem;
            color: rgb(22, 22, 22);
            margin-top: 30px;
        }
    }

    .evaluation {
        text-align: center;
    }

    .evaluation-image {
        height: 10rem;
        width: 10rem;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
    .top-container {
        height: 600px;
        .top-wrapper {
            width: 80%;
            .top-content {
                padding-left: 400px;
                padding-top: 200px;
                .comment {
                    font-size: 1.4rem;
                }
                span {
                    font-size: 1.6rem;
                }
                .logo-image {
                    margin-top: 10px;
                }
            }
        }
    }

    .middle-container {
        height: 550px;
        text-align: center;

        .middle-wrapper {
            width: 80%;
            margin: 0 auto;
            margin-top: 100px;
            h2 {
                font-size: 2rem;
                color: #fff;
                background-color: rgb(63, 63, 63);
                padding: 10px 0;
                width: 550px;
                margin: 0 auto;
                text-align: center;
                box-shadow: 0 0 8px gray;
            }
        }

        .middle-left-content {
            height: auto;
            width: 500px;
            margin-top: 60px;
            h3 {
                color: rgb(22, 22, 22);
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
                color: rgb(22, 22, 22);
                margin-top: 40px;
            }
        }

        .middle-right-content {
            display: block;
            height: auto;
            width: auto;
            margin-top: 0;
            margin-left: 0;
            .emotional-box {
                margin-top: 0;

                i {
                    font-size: 4rem;
                }

                .emotional {
                    margin: 20 0px;
                }

                .level {
                    font-size: 30px;
                    margin: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .top-container {
        height: 600px;
        .top-wrapper {
            width: 80%;
            .top-content {
                padding-left: 200px;
                padding-top: 200px;
                .comment {
                    font-size: 1.4rem;
                }
                span {
                    font-size: 1.6rem;
                }
                .logo-image {
                    margin-top: 10px;
                }
            }
        }
    }

    .middle-container {
        height: 350px;
        text-align: center;
        .middle-wrapper {
            h2 {
                width: 300px;
                font-size: 1.3rem;
            }
            .middle-left-content {
                height: auto;
                width: 300px;
                margin-top: 30px;
                text-align: left;
                h3 {
                    font-size: 2rem;
                }
                p {
                    margin-top: 20px;
                }
            }
            .middle-right-content {
                height: auto;
                width: 300px;
                margin-top: 0px;
                margin-left: 0px;
                text-align: center;

                .emotional-box {
                    margin-top: 15px;

                    i {
                        font-size: 2rem;
                        margin-top: 30px;
                    }
                    .emotional {
                        width: 150px;
                        display: inline-block;
                        float: left;
                        margin: 0;
                    }
                    .level {
                        font-size: 30px;
                        margin: 10 10px;
                    }
                }
            }
        }
    }

    .bottom-container {
        height: 400px;
        .bottom-wrapper {
            margin-top: 100px;
            h2 {
                font-size: 1.2rem;
                width: 300px;
            }

            .bottom-content {
                p {
                    text-align: center;
                }

                .evaluation {
                    text-align: center;
                }

                .evaluation-image {
                    height: 6rem;
                    width: 6rem;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .top-container {
        height: 600px;
        .top-wrapper {
            width: 80%;
            .top-content {
                padding: 0;
                padding-top: 200px;
                .comment {
                    font-size: 1.4rem;
                }
                span {
                    font-size: 1.6rem;
                }
                .logo-image {
                    margin-top: 10px;
                }
            }
        }
    }

    .middle-container {
        height: 500px;
        .middle-wrapper {
            h2 {
                width: 300px;
                font-size: 1.3rem;
            }
            .middle-left-content {
                height: auto;
                width: 300px;
                margin-top: 30px;
                h3 {
                    font-size: 2rem;
                    text-align: center;
                }
                p {
                    margin-top: 20px;
                }
            }
            .middle-right-content {
                height: auto;
                width: 300px;
                margin-top: 0px;
                margin-left: 0px;
                text-align: center;

                .emotional-box {
                    margin-top: 15px;

                    i {
                        font-size: 2rem;
                    }
                    .emotional {
                        width: 150px;
                        display: inline-block;
                        float: left;
                        margin: 0;
                    }
                    .level {
                        font-size: 30px;
                        margin: 10 10px;
                    }
                }
            }
        }
    }

    .bottom-container {
        height: 600px;
        .bottom-wrapper {
            margin-top: 100px;
            h2 {
                font-size: 1.2rem;
                width: 300px;
            }

            .bottom-content {
                p {
                    text-align: left;
                }

                .evaluation {
                    text-align: center;
                }

                .evaluation-image {
                    height: 6rem;
                    width: 6rem;
                }
            }
        }
    }
}

.fade-type-up,
.fade-type-down,
.fade-type-left,
.fade-type-right,
.fade-elem {
    transition: 0.6s;
    opacity: 0;
}

.fade-elem:last-of-type {
    margin-bottom: 0;
}

.fade-type-up,
.fade-elem {
    transform: translateY(50px);
}

.fade-type-down {
    transform: translateY(-50px);
}

.fade-type-left {
    transform: translateX(50px);
}

.fade-type-right {
    transform: translateX(-50px);
}

.fade-up-down {
    transform: translateY(0);
    opacity: 1;
}

.fade-left-right {
    transform: translateX(0);
    opacity: 1;
}

.fade-elem:nth-of-type(2) {
    transition-delay: 0.2s;
}
.fade-elem:nth-of-type(3) {
    transition-delay: 0.4s;
}
.fade-elem:nth-of-type(4) {
    transition-delay: 0.6s;
}

.fade-up {
    transform: translateY(0);
    opacity: 1;
}

.fade-type-scale {
    transition: 0.6s;
    transform: scale(0.9);
    opacity: 0;
}

.fade-type-scale:last-of-type {
    margin-bottom: 0;
}

.fade-scale {
    transform: scale(1);
    opacity: 1;
}
