@import "variables";

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: auto;
}

.row-top {
    margin-top: 110px;
}

h2 {
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px $border;
}

.serch-box {
    margin-top: 30px;
    max-width: 400px;
    width: auto;
}

.fas.fa-search {
    color: white;
}

.card {
    width: 16em;
    margin: 40px 0;
    box-shadow: 0 0 8px gray;
    margin-left: 2.8rem;
}

.card-img-top {
    width: auto;
    height: 160px;
}

.card-title {
    display: inline-block;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.card-title:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.card-text {
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden; 
}