@import "variables";

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: auto;
}

.row-top {
    margin-top: 110px;
}

h2 {
    width: 100%;
    padding: 10px 20px;
    border-left: solid 6px $border;
}

.tag {
    font-size: 15px;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 5 10px;
    margin-top: 20px;
}

.title {
    font-size: 30px;
}

.image {
    margin-top: 20px;
}

.movie-image {
    height: auto;
    max-width: 400px;
    width: auto;
}

.director {
    font-size: 15px;
}

.actor {
    font-size: 15px;
}

.description {
    font-size: 15px;
}

.year {
    font-size: 15px;
}

.type {
    font-size: 15px;
}

.country {
    font-size: 15px;
}

.create {
    display: block;
    padding: 10 20px;
    border: solid 1px rgb(211, 0, 0);
    color: rgb(211, 0, 0);
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 300px;
}

.create:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 0, 0);
    transition: 0.5s;
}

.card {
    width: 16em;
    margin: 40px 0;
    box-shadow: 0 0 8px gray;
    margin-left: 2.8rem;
    border: none !important;
}

.card-image {
    width: auto;
    height: 160px;
}

.card-movie {
    font-size: 15px;
    color: rgb(66, 66, 66);
}
.card-movie:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.evaluation {
    height: 80px;
    width: 80px;
}

.card-i {
    font-size: 32px;
}

.far.fa-smile-beam {
    color: $happy;
}

.far.fa-grin-squint {
    color: $excited;
}

.far.fa-grin-squint-tears {
    color: $funny;
}

.far.fa-sad-tear {
    color: $sad;
}

.far.fa-angry {
    color: $disgusted;
}

.far.fa-flushed {
    color: $scary;
}

.card-title {
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.card-title:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.spoilers {
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
    width: 115px;
    color: rgb(211, 0, 0);
    border: solid 2px rgb(211, 0, 0);
}

.favorite {
    display: inline-block;
    color: rgb(211, 0, 0);
    margin-top: 6px;
    font-size: 1.2rem;
    i {
        font-size: 1.6rem;
    }
}

.favorite:hover {
    text-decoration: none;
    color: rgba(211, 0, 0, 0.76);
}

.card-user {
    color: gray;
    margin: 0;
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }
    .movie-image {
        height: auto;
        max-width: 300px;
        width: auto;
    }
    .evaluation-content h2 {
        font-size: 1.2rem;
    }
    .card {
        width: 100%;
        margin: 0;
        margin-top: 20px;

        .card-movie {
            font-size: 1.2rem;
        }

        .card-title {
            font-size: 1.2rem;
        }

        .evaluation {
            height: 60px;
            width: 60px;
        }
    }
}
