@import "variables";

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: auto;
}

.row-top {
    margin-top: 110px;
}

h2 {
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px $border;
}

.card {
    width: 16em;
    margin: 40px 0;
    box-shadow: 0 0 8px gray;
    margin-left: 2.8rem;
}

.card-image {
    width: auto;
    height: 160px;
}

.card-movie {
    font-size: 15px;
    color: rgb(66, 66, 66);
}
.card-movie:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.evaluation {
    height: 80px;
    width: 80px;
}

.card-i-1 {
    font-size: 32px;
    // margin: 5 2px;
}

.card-i-2 {
    font-size: 32px;
    // margin: 5 2px;
}

.far.fa-smile-beam {
    color: $happy;
}

.far.fa-grin-squint {
    color: $excited;
}

.far.fa-grin-squint-tears {
    color: $funny;
}

.far.fa-sad-tear {
    color: $sad;
}

.far.fa-angry {
    color: $disgusted;
}

.far.fa-flushed {
    color: $scary;
}

.card-title {
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.card-title:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.spoilers {
    font-size: 15px;
    padding: 0 10px;
    width: 115px;
    color: rgb(211, 0, 0);
    border: solid 2px rgb(211, 0, 0);
}

.card-user {
    color: gray;
    margin: 0;
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        margin: 0;
        margin-top: 20px;

        .card-movie {
            font-size: 1.2rem;
        }

        .card-image {
            width: auto;
            height: 200px;
        }

        .evaluation {
            height: 60px;
            width: 60px;
        }
    }
}
