@import "variables";

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: auto;
}

.row-top {
    margin-top: 110px;
}

h2 {
    width: 100%;
    padding: 10px 20px;
    border-left: solid 6px $border;
}

.serch-box {
    margin-top: 30px;
    max-width: 400px;
    width: auto;
}

.card {
    width: 16em;
    margin: 24px 0;
    box-shadow: 0 0 8px gray;
    margin-left: 2.8rem;
    border: none !important;
}

.card-image {
    width: auto;
    height: 160px;
    object-fit: cover;
}

.card-movie {
    font-size: 15px;
    color: rgb(66, 66, 66);
}
.card-movie:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.evaluation {
    display: block;
    height: 80px;
    width: 80px;
}

.card-i {
    font-size: 32px;
    text-align: center;
}

.far.fa-smile-beam {
    color: $happy;
}

.far.fa-grin-squint {
    color: $excited;
}

.far.fa-grin-squint-tears {
    color: $funny;
}

.far.fa-sad-tear {
    color: $sad;
}

.far.fa-angry {
    color: $disgusted;
}

.far.fa-flushed {
    color: $scary;
}

.card-title {
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.card-title:hover {
    text-decoration: none;
    color: rgb(211, 0, 0);
}

.spoilers {
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 110px;
    color: rgb(211, 0, 0);
    border: solid 1px rgb(211, 0, 0);
}

.favorite {
    display: inline-block;
    color: rgb(211, 0, 0);
    margin-top: 6px;
    font-size: 1.2rem;
    i {
        font-size: 1.6rem;
    }
}

.favorite:hover {
    text-decoration: none;
    color: rgba(211, 0, 0, 0.76);
}

p.card-user {
    color: gray;
    margin: 0;
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        margin: 0;
        margin-top: 30px;

        .card-movie {
            font-size: 1.2rem;
        }

        .card-i {
            text-align: left;
        }

        .card-image {
            width: auto;
            height: 200px;
        }

        .evaluation {
            height: 60px;
            width: 60px;
        }
    }
}
