.top-container {
  background-image: url("https://eemovies.s3-ap-northeast-1.amazonaws.com/about/emotion.jpeg");
  background-size: cover;
  width: auto;
  height: 770px;
  margin: 0 auto;
}

.top-container .top-wrapper {
  width: 60%;
  margin: 0 auto;
}

.top-container .top-wrapper .top-content {
  padding-left: 300px;
  padding-top: 300px;
}

.top-container .top-wrapper .top-content .comment {
  color: #222222;
  font-size: 1.8rem;
  border-left: solid 2px #cf0000;
  padding-left: 20px;
  margin-bottom: 50px;
}

.top-container .top-wrapper .top-content span {
  font-size: 2.2rem;
}

.top-container .top-wrapper .top-content .logo-image {
  height: 5rem;
  width: 5rem;
}

.middle-container {
  height: 400px;
}

.middle-container .middle-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
}

.middle-container .middle-wrapper h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #3f3f3f;
  padding: 10px 0;
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

.middle-container .middle-left-content {
  display: inline-block;
  height: 300px;
  width: 500px;
  margin-top: 60px;
}

.middle-container .middle-left-content h3 {
  color: #161616;
  font-size: 2.5rem;
}

.middle-container .middle-left-content p {
  font-size: 1.2rem;
  color: #161616;
  margin-top: 40px;
}

.middle-container .middle-right-content {
  display: inline-block;
  height: 300px;
  width: 560px;
  margin-top: 60px;
  margin-left: 50px;
}

.middle-container .middle-right-content .emotional-box {
  margin-top: 60px;
}

.middle-container .middle-right-content .emotional-box i {
  font-size: 4rem;
}

.middle-container .middle-right-content .emotional-box .far.fa-smile-beam {
  color: #ec7e7e;
}

.middle-container .middle-right-content .emotional-box .far.fa-grin-squint {
  color: #ffc476;
}

.middle-container .middle-right-content .emotional-box .far.fa-grin-squint-tears {
  color: #c7eb65;
}

.middle-container .middle-right-content .emotional-box .far.fa-sad-tear {
  color: #72caec;
}

.middle-container .middle-right-content .emotional-box .far.fa-angry {
  color: #ad90dd;
}

.middle-container .middle-right-content .emotional-box .far.fa-flushed {
  color: #6b6b6b;
}

.middle-container .middle-right-content .emotional-box .emotional {
  margin: 20 0px;
}

.middle-container .middle-right-content .emotional-box .level {
  font-size: 30px;
  margin: 15px;
}

.bottom-container {
  background-color: white;
  height: 500px;
}

.bottom-container .bottom-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
}

.bottom-container .bottom-wrapper h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
  color: #fff;
  background-color: #3f3f3f;
  margin: 0 auto;
  width: 550px;
  padding: 10px 0;
}

.bottom-container .bottom-content {
  text-align: center;
}

.bottom-container .bottom-content p {
  font-size: 1.2rem;
  color: #161616;
  margin-top: 30px;
}

.bottom-container .evaluation {
  text-align: center;
}

.bottom-container .evaluation-image {
  height: 10rem;
  width: 10rem;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .top-container {
    height: 600px;
  }

  .top-container .top-wrapper {
    width: 80%;
  }

  .top-container .top-wrapper .top-content {
    padding-left: 200px;
    padding-top: 200px;
  }

  .top-container .top-wrapper .top-content .comment {
    font-size: 1.4rem;
  }

  .top-container .top-wrapper .top-content span {
    font-size: 1.6rem;
  }

  .top-container .top-wrapper .top-content .logo-image {
    margin-top: 10px;
  }

  .middle-container {
    height: 350px;
    text-align: center;
  }

  .middle-container .middle-wrapper h2 {
    width: 300px;
    font-size: 1.3rem;
  }

  .middle-container .middle-wrapper .middle-left-content {
    height: auto;
    width: 300px;
    margin-top: 30px;
    text-align: left;
  }

  .middle-container .middle-wrapper .middle-left-content h3 {
    font-size: 2rem;
  }

  .middle-container .middle-wrapper .middle-left-content p {
    margin-top: 20px;
  }

  .middle-container .middle-wrapper .middle-right-content {
    height: auto;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box {
    margin-top: 15px;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box i {
    font-size: 2rem;
    margin-top: 30px;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box .emotional {
    width: 150px;
    display: inline-block;
    float: left;
    margin: 0;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box .level {
    font-size: 30px;
    margin: 10 10px;
  }

  .bottom-container {
    height: 400px;
  }

  .bottom-container .bottom-wrapper {
    margin-top: 100px;
  }

  .bottom-container .bottom-wrapper h2 {
    font-size: 1.2rem;
    width: 300px;
  }

  .bottom-container .bottom-wrapper .bottom-content p {
    text-align: center;
  }

  .bottom-container .bottom-wrapper .bottom-content .evaluation {
    text-align: center;
  }

  .bottom-container .bottom-wrapper .bottom-content .evaluation-image {
    height: 6rem;
    width: 6rem;
  }
}

@media (max-width: 480px) {
  .top-container {
    height: 600px;
  }

  .top-container .top-wrapper {
    width: 80%;
  }

  .top-container .top-wrapper .top-content {
    padding: 0;
    padding-top: 200px;
  }

  .top-container .top-wrapper .top-content .comment {
    font-size: 1.4rem;
  }

  .top-container .top-wrapper .top-content span {
    font-size: 1.6rem;
  }

  .top-container .top-wrapper .top-content .logo-image {
    margin-top: 10px;
  }

  .middle-container {
    height: 500px;
  }

  .middle-container .middle-wrapper h2 {
    width: 300px;
    font-size: 1.3rem;
  }

  .middle-container .middle-wrapper .middle-left-content {
    height: auto;
    width: 300px;
    margin-top: 30px;
  }

  .middle-container .middle-wrapper .middle-left-content h3 {
    font-size: 2rem;
    text-align: center;
  }

  .middle-container .middle-wrapper .middle-left-content p {
    margin-top: 20px;
  }

  .middle-container .middle-wrapper .middle-right-content {
    height: auto;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box {
    margin-top: 15px;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box i {
    font-size: 2rem;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box .emotional {
    width: 150px;
    display: inline-block;
    float: left;
    margin: 0;
  }

  .middle-container .middle-wrapper .middle-right-content .emotional-box .level {
    font-size: 30px;
    margin: 10 10px;
  }

  .bottom-container {
    height: 600px;
  }

  .bottom-container .bottom-wrapper {
    margin-top: 100px;
  }

  .bottom-container .bottom-wrapper h2 {
    font-size: 1.2rem;
    width: 300px;
  }

  .bottom-container .bottom-wrapper .bottom-content p {
    text-align: left;
  }

  .bottom-container .bottom-wrapper .bottom-content .evaluation {
    text-align: center;
  }

  .bottom-container .bottom-wrapper .bottom-content .evaluation-image {
    height: 6rem;
    width: 6rem;
  }
}

.fade-type-up,
.fade-type-down,
.fade-type-left,
.fade-type-right,
.fade-elem {
  transition: 0.6s;
  opacity: 0;
}

.fade-elem:last-of-type {
  margin-bottom: 0;
}

.fade-type-up,
.fade-elem {
  transform: translateY(50px);
}

.fade-type-down {
  transform: translateY(-50px);
}

.fade-type-left {
  transform: translateX(50px);
}

.fade-type-right {
  transform: translateX(-50px);
}

.fade-up-down {
  transform: translateY(0);
  opacity: 1;
}

.fade-left-right {
  transform: translateX(0);
  opacity: 1;
}

.fade-elem:nth-of-type(2) {
  transition-delay: 0.2s;
}

.fade-elem:nth-of-type(3) {
  transition-delay: 0.4s;
}

.fade-elem:nth-of-type(4) {
  transition-delay: 0.6s;
}

.fade-up {
  transform: translateY(0);
  opacity: 1;
}

.fade-type-scale {
  transition: 0.6s;
  transform: scale(0.9);
  opacity: 0;
}

.fade-type-scale:last-of-type {
  margin-bottom: 0;
}

.fade-scale {
  transform: scale(1);
  opacity: 1;
}

