.top-container {
  background-image: url("https://eemovies.s3-ap-northeast-1.amazonaws.com/about/emotion.jpeg");
  background-size: cover;
  width: auto;
  height: 770px;
  margin: 0 auto;
}

.content-wrapper {
  width: 60%;
  margin: 0 auto;
}

.left-container {
  position: absolute;
  top: 35%;
  margin-left: 300px;
}

.comment {
  color: #222222;
  font-size: 1.8rem;
  border-left: solid 2px #cf0000;
  padding-left: 20px;
  margin-bottom: 50px;
}

.fade-type-scale {
  text-align: center;
  transition: 0.6s;
  transform: scale(0.5);
  opacity: 0;
  margin-bottom: 100px;
}

.fade-type-scale:last-of-type {
  margin-bottom: 0;
}

.fade-scale {
  transform: scale(1);
  opacity: 1;
}

span {
  font-size: 2.2rem;
}

.logo-image {
  height: 5rem;
  width: 5rem;
}

.middle-container {
  background-color: white;
  height: 400px;
}

.middle-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
}

.middle-left-container h2 {
  font-size: 2rem;
  color: #161616;
  padding-bottom: 10px;
  color: #fff;
  background-color: #3f3f3f;
  padding: 10px 0;
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

.middle-left-container h3 {
  margin-top: 60px;
  font-size: 2.5rem;
}

.middle-left-container p {
  font-size: 1.2rem;
  color: #161616;
  margin-top: 40px;
}

.middle-right-container {
  position: absolute;
  top: 127%;
  margin-left: 550px;
}

.middle-right-container .emotional-box {
  margin-top: 60px;
}

.bottom-container {
  background-color: white;
  height: 500px;
}

.bottom-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  margin-top: 100px;
}

.bottom-container {
  text-align: center;
}

.bottom-container h2 {
  font-size: 2rem;
  color: #161616;
  padding-bottom: 10px;
  color: #fff;
  background-color: #3f3f3f;
  margin: 0 auto;
  width: 550px;
  padding: 10px 0;
}

.bottom-container p {
  font-size: 1.2rem;
  color: #161616;
  margin-top: 30px;
}

.evaluation {
  text-align: center;
}

.evaluation-image {
  height: 10rem;
  width: 10rem;
}

i {
  font-size: 4rem;
}

.far.fa-smile-beam {
  color: #ec7e7e;
}

.far.fa-grin-squint {
  color: #ffc476;
}

.far.fa-grin-squint-tears {
  color: #c7eb65;
}

.far.fa-sad-tear {
  color: #72caec;
}

.far.fa-angry {
  color: #ad90dd;
}

.far.fa-flushed {
  color: #6b6b6b;
}

.emotional {
  margin: 20 0px;
}

.level {
  font-size: 30px;
  margin: 15px;
}

@media (max-width: 480px) {
  .top-container {
    width: 100%;
    background-size: cover;
    height: 500px;
  }

  .top-container .content-wrapper {
    width: 80%;
  }

  .top-container .content-wrapper .left-container {
    top: 35%;
    margin-left: 10px;
  }

  .top-container .content-wrapper .left-container .comment {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .top-container .content-wrapper .left-container span {
    font-size: 1.2rem;
  }

  .top-container .content-wrapper .left-container .logo-image {
    height: 80px;
    width: 80px;
  }

  .middle-container {
    height: 900px;
  }

  .middle-left-container {
    width: 100%;
  }

  .middle-left-container h2 {
    font-size: 1.4rem;
    text-align: center;
    width: 300px;
  }

  .middle-left-container h3 {
    font-size: 2.3rem;
  }

  .middle-left-container p {
    margin-top: 20px;
    font-size: 1rem;
  }

  .middle-right-container {
    margin-left: 0;
  }

  .middle-right-container .emotional-box {
    text-align: center;
    margin-top: 0;
  }

  .middle-right-container .emotional-box .far {
    margin: 0;
    font-size: 4rem;
    margin-top: 20px;
  }

  .middle-right-container .emotional-box .level {
    font-size: 3rem;
    margin: 0;
    margin-left: 10px;
    margin-right: 40px;
  }

  .middle-right-container .emotional-box .emotional {
    margin: 0;
  }

  .bottom-container {
    width: 100%;
    height: 500px;
  }

  .bottom-container .evaluation-image {
    width: 6rem;
    height: 6rem;
  }

  .bottom-container h2 {
    font-size: 1.4rem;
    text-align: center;
    width: 300px;
  }

  .bottom-container h3 {
    font-size: 2.3rem;
  }

  .bottom-container p {
    margin-top: 20px;
    text-align: left;
  }
}

