.main-container {
  width: 80%;
  margin: 0 auto;
  max-width: auto;
}

.row-top {
  margin-top: 110px;
}

h2 {
  width: 100%;
  padding: 10px 20px;
  border-left: solid 6px #da0101;
}

.add {
  text-align: center;
  display: block;
  background-color: #414141;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 20px;
  margin-top: 20px;
  padding: 5 10px;
  max-width: 300px;
}

.add:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(65, 65, 65, 0.801);
  transition: 0.5s;
}

.card {
  width: 16em;
  margin: 24px 0;
  box-shadow: 0 0 8px gray;
  margin-left: 2.8rem;
  border: none !important;
}

.card-demand {
  font-size: 1.2rem;
  margin: 15px;
}

.card-delete {
  text-align: center;
  display: inline-block;
  color: #d60000;
  font-size: 0.8rem;
  margin: 15 40px;
  padding: 5px;
  border: solid 1px #d60000;
}

.card-delete:hover {
  text-decoration: none;
  color: white;
  background-color: #d60000;
  transition: 0.5s;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
}

