.main-container {
  width: 80%;
  margin: 0 auto;
}

.row-top {
  margin-top: 110px;
}

h2 {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 2px #c7c7c7;
}

.login-form {
  width: 80%;
  margin: 30px auto;
}

.login-button {
  display: inline-block;
  text-align: center;
  background-color: #47b5ff;
  color: white;
  padding: 10 30px;
  max-width: 400px;
  border-radius: 5px;
}

.login-button:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  background-color: rgba(71, 181, 255, 0.801);
  transition: 0.5s;
}

