.main-container {
  width: 80%;
  margin: 0 auto;
  max-width: auto;
}

.row-top {
  margin-top: 110px;
}

h2 {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 2px #c7c7c7;
}

.tag {
  font-size: 15px;
  background-color: #424242;
  color: white;
  padding: 5 10px;
  margin-top: 20px;
}

.title {
  font-size: 30px;
}

.image {
  margin-top: 20px;
}

.movie-image {
  height: auto;
  max-width: 400px;
  width: auto;
}

.director {
  font-size: 15px;
}

.actor {
  font-size: 15px;
}

.description {
  font-size: 15px;
}

.year {
  font-size: 15px;
}

.type {
  font-size: 15px;
}

.country {
  font-size: 15px;
}

.create {
  display: inline-block;
  padding: 5 10px;
  border: solid 1px #d30000;
  color: #d30000;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.create:hover {
  text-decoration: none;
  color: white;
  background-color: #d30000;
  transition: 0.5s;
}

.card {
  width: 16em;
  margin: 40px 0;
  box-shadow: 0 0 8px gray;
  margin-left: 2.8rem;
}

.card-image {
  width: auto;
  height: 160px;
}

.card-movie {
  font-size: 15px;
  color: #424242;
}

.card-movie:hover {
  text-decoration: none;
  color: #d30000;
}

.evaluation {
  height: 80px;
  width: 80px;
}

.card-i-1 {
  font-size: 32px;
}

.card-i-2 {
  font-size: 32px;
}

.far.fa-smile-beam {
  color: #ec7e7e;
}

.far.fa-grin-squint {
  color: #ffc476;
}

.far.fa-grin-squint-tears {
  color: #c7eb65;
}

.far.fa-sad-tear {
  color: #72caec;
}

.far.fa-angry {
  color: #ad90dd;
}

.far.fa-flushed {
  color: #6b6b6b;
}

.card-title {
  font-size: 15px;
  color: #424242;
}

.card-title:hover {
  text-decoration: none;
  color: #d30000;
}

.spoilers {
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
  width: 115px;
  color: #d30000;
  border: solid 2px #d30000;
}

.card-user {
  color: gray;
  margin: 0;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .movie-image {
    height: auto;
    max-width: 300px;
    width: auto;
  }

  .evaluation-content h2 {
    font-size: 1.2rem;
  }

  .card {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .card .card-movie {
    font-size: 1.2rem;
  }

  .card .card-title {
    font-size: 1.2rem;
  }

  .card .evaluation {
    height: 60px;
    width: 60px;
  }
}

