.main-container {
  width: 80%;
  margin: 0 auto;
  max-width: auto;
}

.row-top {
  margin-top: 110px;
}

h2 {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 2px #c7c7c7;
}

.name {
  font-size: 1.2rem;
}

.form-group {
  margin-top: 60px;
}

.button {
  display: inline-block;
  font-size: 15px;
  padding: 10 60px;
  border: solid 2px #d30000;
  color: #d30000;
  border-radius: 5px;
}

.button:hover {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  background-color: #d30000;
}

