.main-container {
  width: 80%;
  margin: 0 auto;
  max-width: auto;
}

.row-top {
  margin-top: 110px;
}

h2 {
  width: 100%;
  padding: 10px 20px;
  border-left: solid 6px #da0101;
}

.serch-box {
  margin-top: 30px;
  max-width: 400px;
  width: auto;
}

.card {
  width: 16em;
  margin: 24px 0;
  box-shadow: 0 0 8px gray;
  margin-left: 2.8rem;
  border: none !important;
}

.card-image {
  width: auto;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-movie {
  font-size: 15px;
  color: #424242;
}

.card-movie:hover {
  text-decoration: none;
  color: #d30000;
}

.evaluation {
  display: block;
  height: 80px;
  width: 80px;
}

.card-i {
  font-size: 32px;
  text-align: center;
}

.far.fa-smile-beam {
  color: #ec7e7e;
}

.far.fa-grin-squint {
  color: #ffc476;
}

.far.fa-grin-squint-tears {
  color: #c7eb65;
}

.far.fa-sad-tear {
  color: #72caec;
}

.far.fa-angry {
  color: #ad90dd;
}

.far.fa-flushed {
  color: #6b6b6b;
}

.card-title {
  font-size: 15px;
  color: #424242;
}

.card-title:hover {
  text-decoration: none;
  color: #d30000;
}

.spoilers {
  font-size: 15px;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 110px;
  color: #d30000;
  border: solid 1px #d30000;
}

.favorite {
  display: inline-block;
  color: #d30000;
  margin-top: 6px;
  font-size: 1.2rem;
}

.favorite i {
  font-size: 1.6rem;
}

.favorite:hover {
  text-decoration: none;
  color: rgba(211, 0, 0, 0.76);
}

p.card-user {
  color: gray;
  margin: 0;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }

  .card .card-movie {
    font-size: 1.2rem;
  }

  .card .card-i {
    text-align: left;
  }

  .card .card-image {
    width: auto;
    height: 200px;
  }

  .card .evaluation {
    height: 60px;
    width: 60px;
  }
}

