html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  color: #1f1f1f;
}

.navbar-laravel {
  background-color: #f7f0b8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: fixed;
  z-index: 10;
  width: 100%;
}

.container {
  font-size: 16px;
}

.logo {
  display: inline-block;
  margin-right: 40px;
  padding: 10px 0;
}

.footer-logo {
  margin-right: 10px;
}

.menu {
  color: #5a5a5a;
  border-left: solid 1px #e20000;
  padding: 5px 20px;
  margin: 15px 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.menu:before {
  position: absolute;
  top: 35px;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #e20000;
  transition: 0.5s;
}

.menu:hover:before {
  width: 100%;
}

.menu:hover {
  color: #cc0000;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 100px;
  padding: 40px 0;
  background-color: #424242;
  color: white;
}

.copyright {
  text-align: center;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #5a5a5a !important;
}

.nav-link:hover {
  color: #cf0000 !important;
  transition: 0.3s;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

